@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  max-width: 1000px;
  padding: 2em;
  margin: auto;

  gap: 2rem;
  display: flex;
  flex-direction: column;
}

h1 {
  font-weight: 800;
  text-align: center;
}

h2 {
  font-weight: 700;
}

h3 {
  font-weight: 600;
}

.header {
  display: flex;
  gap: 2em;
}

.header img {
  width: 40%;
}

.imagecaption {
  display: flex;
  flex-direction: column;
}

.header .imagecaption img {
  width: 150%;
}

.vertical {
  display: flex; 
  flex-direction: column; 
  gap: 0.5rem;
}

.A1questions {
  display: flex; 
  flex-direction: column; 
  gap: 1.5rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1em;
  margin-top: 2em;
}

.assignment a {
  color: #000;
  text-decoration: none;
}

.assignment a:hover {
  color: #9F2B68;
}

.assignment img {
  aspect-ratio: 1;
  object-fit: cover;
}

.assignment p {
  margin-top: 0.5em;
}

.final-operation {
  display: flex;
  align-items: flex-start; /* Align items at the top */
  gap: 20px;             /* Optional: space between text and image */
}

.final-text, .imagecaption {
  flex: 1;
}

